.style {
    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 8vmin;
    height: 36vh;
    margin: 8vh 0 4vh;
    /* box-sizing: border-box; */
    padding: 0.8vh 2vw;
    width: 100%;
    
    font-size: 4.5vw;
    zoom: 0.25;
}