.style {
    position: relative;
    /* height: 100%; */
    width: calc(100% / (4.4));
    height: 100%;
    background: #AAEDF7;
    border: 0.1vmin solid #000000;
    /* box-sizing: border-box; */
    border-radius: 1.5vmin;

    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    
    align-items: center;
    margin: 0 0.5vw;
    padding: 0.1vh 0.1vw 0.5vh;
}

.tools {
    position: absolute;
    top: 2%;
    left: 82.5%;
    width: 15.5%;
    height: 17%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cross {
    /*margin-bottom: 10%;*/
}

.pencil {
    /*position: absolute;*/
    /*top: 0;*/
    /*left: 10%;*/
}

.child_style {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.around_text {
    max-height: 80%;
    display: flex;
    flex-grow: 1;
    justify-content: center;
    flex-direction: column;
}

.text {
    overflow: auto;
    max-height: 100%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 8.4vmin;
    /* line-height: 1em; */
    text-align: center;
    zoom: 0.25;
}

.text::-webkit-scrollbar-track {
    border: 0.1px solid #000;
    margin-top: 2vh;
    background-color: #AAEDF7;
    border-radius: 10vmin;
}

.text::-webkit-scrollbar {
    width: 2vw;
}

.text::-webkit-scrollbar-thumb {
    border-radius: 10vmin;
    box-shadow: inset 0 0 1vmin rgba(0,0,0,.3);
    background-color: #08dceb;
    border: 0.1px solid #000;
}