.button {
    background: #C1EFFE;
    font-weight: bold;
    font-size: 2vw;
    width: 3vw;
    border-radius: 50%;
    user-select: none;
}

.textarea {
    overflow: auto;
    height: 12vh;
    resize: none;
    font-size: 4.5vw;
    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 8vmin;
    margin: 1.5vh 0 1.5vh 0;
    padding: 0 1.5vw;
    width: 50vw;

    zoom: 0.25;
}