.style {
    border-radius: 5vmin;
    user-select: none;
    position:absolute;

    left: 69.5vw;
    top: 51vh;
    background: #5FBCFF;
    padding: 1.5vh 2vw;
    margin: auto 0 2vh;
}

.text {
    font-size: 6vw;
}