.style {
    background: #FFF967;
    border-radius: 5vmin;

    padding: 2.5vh 1vw;
    vertical-align: middle;
    text-align: center;
    font-size: 3.5vmin;

    margin: auto 0 2vh;
    user-select: none;
    border: 0;
}