.page {
  position: absolute;
  /* width: 300px; */
  /* height: 200px; */
  z-index: 15;
  top: 20%;
  left: 50%;
  margin: -100px 0 0 -150px;
  
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between; */
}

.style {
  -webkit-text-size-adjust: none;
}